* {
  box-sizing: border-box;
}

.body {
  background: white;
}

body, html {
  font-family: 'Cabin', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}


/*NAVBAR */

nav .logo-container {
  margin-left: auto;
  margin-top: -0.7rem;
  right: 2rem;
  background: url('https://raw.githubusercontent.com/bmbaron/thohomestay/master/logos/thologosmall-nobg.png');
  background-size: cover;
  height: 60px;
  width: 70px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 1em;
  background: white;
  display: flex;
  z-index: 2;
  max-height: 4.2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  transition: ease 0.25s all;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 3px;
}

nav ul li a:hover {
  background:darkcyan;
}

.active {
  display: flex;
}

.mobile-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  display: none;
}
.mobile-bar:hover {
  background: #aaa;
}
.mobile-bar.active {
  background: darkcyan;
}
@media (max-width: 780px) {
  nav ul {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: none;
    display: hidden;
    position: absolute;
    left:0; right:0; top:4rem;
    margin-left: -100%;
    margin-top: 5%;
}
  nav ul li {
    display: block;
  }
  nav ul li a {
    display: block;
}
  .mobile-bar {
    display: flex;
  }

  
  .mobile-bar.active span {
    background: white;
  }
  
  ul.active {
    opacity: 1;
    max-height: 500px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    margin-left: 0%;
    background: #f1f1f1;
    /* transition: ease 0.3s all; */
  }
}

.mobile-bar span {
  display: block;
  height: 2px;
  width: 40px;
  margin: 2px;
  background: #ccc;
}

.mobile-bar span:hover {
  background: #e1e1e1;
}



/*MAIN CONTAINER */

.container {
  width: 100%;
  margin: 0;
}

.container-1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
/*   background: url('../images/top-main.png');
  background-repeat: none;
  background-size: cover; */
  height: auto;
  max-height: 80vh;
  max-width: 100%;
}

.container-2 {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 3px solid #d6e2c1;
}

.container-2 h1 {
  margin: 0 auto;
  margin-bottom: 2rem;
}
.container-2 ul li {
  text-decoration: none;
  list-style: none;
}

.container-2 .activities {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  padding: 0;
}

.container-2 .activities .activity {
  flex-grow: 1;
}
.container-2 .activities .activity p{
  margin-bottom: 2rem;
}

@media (max-width: 850px) {
  .container-2 .activities {
    flex-direction: column;
  }
}

.container-3 {
  height: 105vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 3rem;
  text-align: center;
  border-bottom: 3px solid #d6e2c1;
}

.container-3 ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}

.container-3 li {
  margin: 0;
  height: 42vh;
  flex-grow: 1;
  list-style: none;
}

.container-3 img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  padding: 0.5rem;
  margin: 0;
}

@media (max-width: 850px) {
  .container-3 {
    height: 260vh;
  }
  .container-3 ul {
    flex-direction: column;
  }
  .container-3 li {
    height: 60vh;
  }
}
@media (max-width: 850px) {
  .container-3 {
    height: 180vh;
  }
  .container-3 li {
    height: 40vh;
  }
}

.container-4 {
  background-color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid #d6e2c1;
}



.container-4 .info-container {
  margin-top: 2rem;
  background: white;
  text-align: center;
  border-radius: 20px;
  height: auto;
  width: 100%;
}

.container-4 .welcome {
  text-align: center;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background: white;
}

.stars {
  width: auto;
}

.stars:not(:checked) > input {
  visibility: hidden;
}

.stars:not(:checked) > label:before {
  margin-left: -30px;
  font-size:60px;
  content: '★ ';
  color: #fec107;
  visibility: visible;
}

.container-4 ul {
  margin-top: 1rem;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
  padding: 0;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
}

@media (max-width: 850px) {

  .container-4 .welcome {
    margin: 0;
  }

  .container-4 ul {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .container-4 ul div {
    width: 80vw !important;
    height: auto;
    max-height: 42vh !important;
    margin-bottom: 0;
  }

  .container-4 ul div h3 {
    margin:0;
    padding: 0;
  }

  .container-4 ul div h6 {
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .container-4 .info-container button {
    margin-top: 1rem;
    width: auto;
    min-width: 200px;
  }
}

.container-4 ul div {
  padding-top: 1rem;
  flex-grow: 1;
  margin: 0.5rem;
  height: 15rem;
  width: 35vw;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.container ul div img {
  margin: 0;
}
.container ul div h3 {
  margin: 0;
}
.container ul div h6 {
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  font-weight:lighter;
}

.container-4 .info-container button {
  color: white;
  width: auto;
  height: 3.5rem;
  background: #fec107;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
  font-size: 1.5rem;
}

.container-4 .info-container button:hover {
  background: #f7c636;
  cursor: pointer;
}

.container-5 {
  margin-top: 1rem;
  background: white;
  height: auto;
  width: 100%;
  margin-left: 0;
  text-align: center;
  margin-bottom: 3rem;
}

.container-5 .label-box {
  display:inline-block;
  text-align: center;
  background: white;
  margin: 0 auto;
  margin-bottom: 2rem;
}


.container-5 .contact-container {
  width:100%;
  height: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.container-5 .pictureTho {
  flex: 1 1 0px;
}

.container-5 .headshot {
  height: auto;
  width: 70%;
  border-radius: 10px;
}

.container-5 .map {
  flex: 1 1 0px;
}
.container-5 .map h2{
  width: 80%;
  margin-left: 10%;
}

.container-5 .map iframe {
  height: 50%;
  width: 70%;
  flex-grow: 1;
  border-radius: 10px;
}

.container-5 .details {
  margin-top: -1rem;
  height: auto;
  width: 90%;
  margin: 0 auto;
}

.container-5 ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  margin-top: 2rem;
=======
  margin-top: 1rem;
>>>>>>> b90444dd22ff5bb8d2d460db0747a84582ccf716
}

.container-5 ul li {
  padding: 0 10px;
  width: 80%;
  border-radius: 10px;
  margin: 20px auto;
}

.container-5 ul a {
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  color: white;
}

.container-5 ul a.disabled {
  pointer-events: none;
  cursor: default;
}
.container-5 ul a span {
  font-size: 1.5rem;
  margin-left: 1rem;
  line-height: 3rem;
  vertical-align: top;
}

.container-5 ul li:first-child {
  background: rgb(216, 51, 166);
}
.container-5 ul li:first-child:hover {
}
.container-5 ul li:nth-child(2) {
  background: rgb(94, 78, 238);
}
.container-5 ul li:nth-child(2):hover {
  opacity: 0.7;
}
.container-5 ul li:nth-child(3) {
  background: #ee4e4e;
}
.container-5 ul li:nth-child(3) a span {
  font-size: 1rem;
}
.container-5 ul li:nth-child(4) {
  background: #4eee5b;
}
.container-5 ul li:hover {
  opacity: 0.7;
}

@media (max-width: 780px) {

  .container-5 {
    height: auto !important;
  }
  .container-5 .contact-container {
    flex-direction: column;
    margin-top: -1rem;
  }
  .container-5 .map {
    margin-top: 2rem;
  }
  .container-5 .map iframe {
    height: auto;
    width: 70%;
    border-radius: 10px;
  }
  .container-5 h2 {
    margin-top: 2rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .container-5 ul li {
    width: 60%;
  }

  .container-5 ul li a {
    font-size: 1.5rem;
  }
  .container-5 ul li a span {
    font-size: 1rem;
  }
}

.container-5 .logo {
  height: auto;
  width: 70%;
  border-radius: 10px;
  margin-bottom: 1rem;
}





/* FOOTER */

footer {
  bottom:0;
  left:0;
  border-bottom: 1px solid #ccc;
  padding: 1em;
  background: lightgrey;
  display: flex;
  width: 100%;
  height: 5rem;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
}

footer ul li p {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin-right: 2rem;
}
footer ul li a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

footer ul li a:hover {
  color: white;
}

.active {
  display: flex;
}


@media (max-width: 600px) {
  footer ul li {
    display: flex;
    flex-direction: column;
  }
  footer ul li p {
    margin-top: 0;
  }
}

.material-icons-outlined.md-64 { 
  font-size: 100px; 
  color: rgb(233, 92, 10);
}


a.top {
  position: relative;
  top:-100px;
  display: block;
  height: 0;
  width:0;
  }
